.wh-100 {
    width: 100%;
    height: 100%;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.m-a {
    margin-top: auto;
}

.m-t-a {
    margin-top: auto;
}

.m-b-a {
    margin-bottom: auto;
}
.m-r-a {
    margin-right: auto;
}
.m-l-a {
    margin-left: auto;
}