table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid;
}

th {
    text-align: left;
    line-height: 16px;
    padding: 12px 8px;
    background-color: var(--app-p-dark);
}

td {
    line-height: 16px;
    padding: 12px 8px;
    background-color: var(--app-p-light);
}