<!-- <table>
  <thead>
    <tr>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      
    </tr>
  </tbody>
</table> -->
<p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Role</th>
      <th>Gender</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.name.first_name }} {{ user.name.last_name }}</td>
      <td>{{ user.birthday }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.permision }}</td>
      <td>{{ user.gender }}</td>
    </tr>
  </ng-template>
</p-table>

<app-spinner></app-spinner>
