/* You can add global styles to this file, and also import other style files */
@import 'assets/table.scss';
@import 'assets/form.scss';

html, body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: var(--app-p-dark);
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

a {
    text-decoration: none;
}
app-root {
    display: flex;
    flex: 1 0 100%;
}