:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 40px 32px;
    background: var(--app-p-light);
}